@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* *{
    margin: 0;
    padding: 0;
} */
/* Nav Bar styles */
nav {

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}

nav h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Hero section styles */
.hero {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.hero-content {
    max-width: 585px;
    max-height: 270px;
    /* border: 2px solid green; */

}

.hero-img-container {
    /* border: 2px solid yellow; */
    max-width: 440px;
    max-height: 414px;
    justify-content: center;
    display: flex;
}

.hero-img {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-title {
    font-size: 3.35rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    margin: 0;
    padding: 0;
}

.hero-info {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    margin: 0;
    padding: 0;
}

.hero-btn {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 8px 12px;
    border-radius: 41px;
    border: none;
    font-family: "Poppins", sans-serif;
}

/* logo section styles */
.logo-container {
    display: grid;
    max-width: 1140px;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    /* border: 1px solid red; */
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* collections section */
.popular-collection{
    max-width: 1047px;
    max-height: 1662px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
   
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    max-width: 329px;
    max-height: 476px;
    padding: 14px;
   
}
.card-main-title{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.card img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-title {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.card-price {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
    margin: 5px;
}

.card-info {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
    margin: 5px;
    padding: 0;
}
.special-4{
    display: flex;
    justify-content: flex-end;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    padding: 35px;
}
.special-4 > button{
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
/* Featured-products styles */
.Featured-products{
    max-width: 1110px;
    height: 270px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
}
.features-text-container{
    max-width: 610px;
    max-height: 224px;
    border: 2px solid green;
    margin: 30px 0 30px 70px;
}
.Featured-title{
    font-size: 2.3rem;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
    margin: 5px ;
    padding: 0;
}
.Featured-info{
    font-size: 1rem;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
    margin: 10px;
    padding: 0;
}
.Featured-btn{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 10px 24px ;
    border: none;
}
/* responsive  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    .hero {
        flex-direction: column-reverse;
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-img-container {
        flex-direction: column;

    }

    .hero-img-container img {
        max-width: 100%;

    }

    .hero-content {
        text-align: center;
    }

    .logo-container {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 150px;
        gap: 20px;
        justify-items: center;
        margin: 20px;
        margin-top: 150px;
    }

    .logo-container img {
        width: 80%;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .Featured-products{
        flex-direction: column-reverse;
    }
    
}